body{
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Quicksand';
    padding-top: 5%;
    word-wrap: break-word;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 250px;
    height: 200px;
    padding-right: 50px;
}

.WalletInfo{
    width:500px;

}

.Transaction{
    padding:5%;
}

.Block{
    border:1px solid #fff;
    padding:5%;
    margin:2%;
}

.ConductTransaction, .TransactionPool{
    margin: 10%;
}

.TxForm{
    text-align: left;
}

a {
    color: #e66;
    background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
  color: #e66;
}

/*
.emoji{

}
*/

.money::before {content: "\01F4B8";}

.block::before{content: "\01F9CA"}

.coin::before{content :"\01FA99"}

.heart::before{content: "\02764"}

.home::before{content: "\01F3E0"}

.hash::before{content: "\023"}

.bank::before{content: "\01F3E6"}

.mine::before{content: "\026CF"}